//All of our color values for the web site

//Gonna use poke palletes cause thatd be dope! http://pokepalettes.com/#hydreigon

$pageBGColor: #5a83cd;
$pageText: #292029;
$cardBG: #eeeeee;
$placeholderText: #bdbdbd;
$navBG: #292029;
$navText: #e6dede;
$navActiveTab: #413941;
$linkText: #732918;
$buttonBG: #732918;
$buttonBGHover: #9c4131;



//Default yeoman colors
$defaultBG: #ccc;
$defaultHeader: #e5e5e5;
$void: #000;
