$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "materialize/sass/materialize.scss";
// endbower

//imports of our other files
@import "colors";
@import "default";
@import "animate";

//Some content variables
$pageWidth: 92%;
$columnWidth: 500px;

/**************************
    GENERAL STYLES
**************************/

//Our Body Styles
body {
  padding: 0;
  background-color: $pageBGColor;
  color: $pageText;
}

//Placeholder text color throughout the page
::-webkit-input-placeholder {
   color: $placeholderText;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholderText;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholderText;
}

:-ms-input-placeholder {
   color: $placeholderText;
}

//Our navbar
.mainNav {
    background-color: $navBG;
    border-color: $navBG;
    color: $navText;
    border-radius: 5px;
}

.activeTab {
    background-color: $navActiveTab !important;
}

.navText {
        color: $navText !important;
}

.navbar-toggle {
    background-color: $navBG;
    border-color: $navBG !important;

    &:hover {
        @extend .activeTab;
    }

    &:focus {
        @extend .activeTab;
    }
}

//Container overrides
.container {
    width: $pageWidth;
    max-width: $pageWidth;
}

//our cards
.card {
    background-color:  $cardBG;
}

.card-panel {
    @extend .card;

    overflow: inherit;

    //Our embeds for our links
    iframe {
        //Wanted to add some border, but didnt really look that good haha
        //Also soundcloud was NOT having borders
        //border-radius: 2px !important;
    }
}

//our buttons
.btn-large {
    background-color: $buttonBG;

    &:hover {
        background-color: $buttonBGHover;
    }

    &:focus {
        background-color: $buttonBGHover;
    }
}

.btn {
    background-color: $buttonBG;

    &:hover {
        background-color: $buttonBGHover;
    }

    &:focus {
        background-color: $buttonBGHover;
    }
}

//link colors (Same as background)
a {
    color: $linkText;
}

//The footer
.footerText {
    padding-top: 15px;
    color: $pageText;
    border-top: 1px solid $navBG;
}

/**************************
    SPECIFIC STYLES
**************************/
.homeCard {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.homeTagLine {
    padding-bottom: 25px;
}

.homeLogText {
    padding-bottom: 10px;
}

.homeSignUp {
    margin-right: 10px;
    font-weight: 600;
}

.homeLogIn {
    margin-left: 10px;
    font-weight: 600;
}

.authCard {
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.authTitle {
    padding-bottom: 10px;
}

.authIcons {
    font-size: 40px;
    vertical-align: top;
}

.authInput {
    width: 40% !important;
}

.authButton {
    margin-top: 25px;
    margin-left: 10px;
    font-weight: 600;
}

.linkInput {
    width: 80%;
}

.linkInstructions {
    padding-bottom: 5px;
}

.findButton {
    margin-right: 10px;
    font-weight: 550;
}

.findInput {
    width: 80%;
    height: 40px;
}

.linkCard {
    padding: 2%;
}

.dropFavicon {
    vertical-align: -webkit-baseline-middle;
    width: 16px;
    height: 16px;
}

.dropURL {
    vertical-align: -webkit-baseline-middle;
}

.linkSubTextContainer {
    text-align: right;
}

.dumpedAtText {
    display: inline;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  //multiple responsive card columnds
  .columns {
      //Columns stuff
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;

      -webkit-column-width: $columnWidth;
      -moz-column-width: $columnWidth;
      column-width: $columnWidth;
      column-gap: 15px;

    //Fix the missing content
    ul {
        list-style-position: inside;
        margin: 0;

        li {
            break-inside: avoid-column;
            display: inline-block;
            width: 100%;
        }

    }

  }

  //Container overrides
  .container {
      width: $pageWidth;
      max-width: $pageWidth;
  }

}

//Our quickfixes
@import "quickFixes";
