$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "materialize/sass/materialize.scss";
// endbower

//imports of our other files
@import "colors";
@import "default";
@import "animate";

//Our Body Styles
body {
  padding: 0;
  background-color: $pageBGColor;
}

//Placeholder text color throughout the page
::-webkit-input-placeholder {
   color: $placeholderText;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholderText;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholderText;
}

:-ms-input-placeholder {
   color: $placeholderText;
}

/* active navigation tag */
.activeTab {
    background-color: #eceff1;
}

//Container overrides
.container {
    width: 95%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  //multiple responsive card columnds
  .columns {
      //Columns stuff
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;

      -webkit-column-width: 400px;
      -moz-column-width: 400px;
      column-width: 500px;
      column-gap: 15px;

    //Fix the missing content
    ul {
        list-style-position: inside;
        margin: 0;

        li {
            break-inside: avoid-column;
            display: inline-block;
            width: 100%;
        }

    }

  }

  //Container overrides
  .container {
      width: 95%;
  }

}
