//multiple responsive card columns
.gridInclude {
    margin-top: 10px;
    margin-bottom: 10px;

    //Fix the missing content
    ul {

        width: 100%;
        list-style-position: inside;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        text-align: center;

        &:before {
            content: "";
            display: table;
        }
        &:after {
            content: "";
            display: table;
        }

        li {

            break-inside: avoid-column;
            display: inline-block;
        }

    }

    .linkCard {

        text-align: center;

        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;

				margin: 10px;

				transition: none;

        .urlContainer {

            @extend .center;
            max-width: $columnWidth / 1.25;
            margin-bottom: 5px;
            background-color: transparent;
            border-radius: 0px;
            height: 55px;
        }

        .dropURL {

            vertical-align: -webkit-baseline-middle;
            word-wrap: break-word;
            max-width: calc($columnWidth - 50px);
            width: 100%;
        }

        .dropFavicon {
            vertical-align: -webkit-baseline-middle;
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }


        //Iframes and images, need to be responsive and things
        .embed {

            //General/neccessary
            margin-left: auto;
            margin-right: auto;
            overflow:hidden;

            z-index: 2;

            .noembed-embed-inner {
                width: 90%;
                max-width: 90%;
                max-height: 350px;
                margin: auto;
            }

            .noembed-youtube {

                iframe {
                    max-width: 95%;
                    height: 344px;
                }
            }

            .noembed-vimeo {

                iframe {
                    max-width: 95%;
                    height: 344px;
                }
            }

            iframe {
                max-width: 90%;
                height: 344px;
            }

            img {
                max-width: 90%;
                height: auto;
            }

            .noembed-instagram {

                img {
                    width: 320px;
                    width: 320px;
                }

            }

            .noembed-soundcloud {
                width: 100%;
                height: 450px;

                max-width: 100%;
                max-height: 450px;

                iframe {
                    width: 100%;
                    height: 450px;
                    max-width: 100%;
                    max-height: 450px;
                }
            }

            .spotifyEmbed {
                width: 300px;
                height: 380px;
            }

            .kickEmbed {
                height: 420px;
                width: 220px;
            }

            .vineEmbed {
                height: 300px;
                width: 300px;
            }
        }



        .embedLoadContainer {

            height: 35px;

            .embedLoad {

                font-size: 20px;

                span {

                    /**
                     * Use the blink animation, which is defined above
                     */
                    animation-name: blink;
                    /**
                     * The animation should take 1.4 seconds
                     */
                    animation-duration: 1.4s;
                    /**
                     * It will repeat itself forever
                     */
                    animation-iteration-count: infinite;
                    /**
                     * This makes sure that the starting style (opacity: .2)
                     * of the animation is applied before the animation starts.
                     * Otherwise we would see a short flash or would have
                     * to set the default styling of the dots to the same
                     * as the animation. Same applies for the ending styles.
                     */
                    animation-fill-mode: both;
                }

                span:nth-child(2) {
                    /**
                     * Starts the animation of the third dot
                     * with a delay of .2s, otherwise all dots
                     * would animate at the same time
                     */
                    animation-delay: .2s;
                }

                span:nth-child(3) {
                    /**
                     * Starts the animation of the third dot
                     * with a delay of .4s, otherwise all dots
                     * would animate at the same time
                     */
                    animation-delay: .4s;
                }
            }

            .embedLoadError {

                margin-top: -15px;
            }
        }


        //Our date and labels and things
        .linkSubTextLeftContainer {
            padding-top: 5px;
            text-align: left;
            float: left;
            width: 55%;

            word-wrap: break-word;
        }

        .linkSubTextRightContainer {

            padding-top: 5px;
            width: 44%;
            padding-bottom: 5px;

            text-align: right;
            float: right;
        }

        .linkSubText {
            display: inline !important;
        }

        .linkLabelDelete {
            height: 12px;
            width: auto;
            margin-right: 2px;
        }

        .linkLabelText {
            margin-right: 5px;
            font-size: 15px;
            color: $navBG;
        }

        .labelInputContainer {
            padding: 0px;
            padding-bottom: 0px;
        }

        .deleteDump {

            p {
                margin-bottom: 0px;
                padding-top: 16px;
            }
        }

        //End of link cards
    }
}
