<ul id = "linkGrid">
    <li class = "card-panel linkCard md-whiteframe-10dp"
    ng-repeat='dump in dumps | labelFilter:currentLabel.title | filter:enteredFind | limitTo:linkCount'>

      <!-- Get our favicon and link title -->
      <div class = "urlContainer">

          <img ng-src="{{::dump.content | favicon}}" alt="Drop Icon" class = "dropFavicon">
          <a id = "linkTitle-{{::$index}}"
          href="{{::dump.content}}" target="_blank"
          class = "dropURL"
					title="Click to open this link in a new tab">
          {{::(dump.title || dump.content).substring(0,80)}}<span ng-show="(dump.title || dump.content).length > 80">...</span>
          </a>

      </div>

			<div ng-if="::Embedder.isEmbeddable(dump)"
				style="text-align: center; line-height: 24px;"
				ng-click="Embedder.open(dump); Embedder.getStyle().mode == 'min'? Embedder.smallsize() : false">

				<i class="material-icons" style="vertical-align: top;">featured_video</i>
				<span title="Click to show a preview window for this link">
					Preview This
				</span>
			</div>
			<br ng-if="::!Embedder.isEmbeddable(dump)" />

      <!-- Sharing/Categories -->
      <div class = "linkSubTextLeftContainer">
          <p ng-repeat="label in dump.labels"
          class = "linkSubText">
              <img src="images/x.png"
              class="linkLabelDelete"
              ng-click="removeLabel(dump, label)">

              <a class="linkLabelText"
              ng-click="filterLabel(label)"
							title="Click to show only links with this label"
							href="">{{label.title}}
              </a>
          </p>
          <br />
          <form>
              <md-input-container class = "labelInputContainer">
                  <label>New Label</label>
                  <input name="newLabel" class = "labelInput" type="text" class="validate" ng-model = "dump.newLabel">
              </md-input-container>
              <button type = "submit" style = "display: none"
              ng-click="submitLabel(dump)">
              </button>
          </form>
      </div>

      <!-- Last updated -->
      <div class = "linkSubTextRightContainer">
          <p class = "linkSubText"><span title="{{dump.updated_at | date:'h:mm MM/dd/yyyy '}}">{{::dateFromNow(dump.updated_at)}}</span></p>
          <a class = "deleteDump" ng-click = "removeLink(dump)" href="" title="Delete this link permenantly"><p>Delete Link</p></a>
      </div>
    </li>
</ul>
