<ul id = "linkGrid">
    <li class = "card-panel linkCard md-whiteframe-10dp"
    ng-repeat='dump in dumps | filter:enteredFind | limitTo:linkCount'>

      <!-- Get our favicon and link title -->
      <div class = "urlContainer">

          <img ng-src="{{::dump.content | favicon}}" alt="Drop Icon" class = "dropFavicon">
          <a id = "linkTitle-{{::$index}}"
          href="{{::dump.content}}" target="_blank"
          class = "dropURL">
          {{::(dump.title || dump.content).substring(0,80)}}<span ng-show="(dump.title || dump.content).length > 80">...</span>
          </a>

      </div>

			<div ng-if="::Embedder.isEmbeddable(dump)" ng-click="Embedder.open(dump)">Show Embed</div>

      <br>
      <!-- Sharing/Categories -->
      <div class = "linkSubTextLeftContainer">
          <p ng-repeat="label in dump.labels"
          class = "linkSubText">
              <img src="images/x.png"
              class="linkLabelDelete"
              ng-click="removeLabel(dump, label)">

              <a class="linkLabelText"
              ng-click="filterLabel(label)">{{label.title}}
              </a>
          </p>
          <br />
          <form>
              <md-input-container class = "labelInputContainer">
                  <label>New Label</label>
                  <input name="newLabel" class = "labelInput" type="text" class="validate" ng-model = "dump.newLabel">
              </md-input-container>
              <button type = "submit" style = "display: none"
              ng-click="submitLabel(dump)">
              </button>
          </form>
      </div>

      <!-- Last updated -->
      <div class = "linkSubTextRightContainer">
          <p class = "linkSubText" ng-bind="dump.updated_at | date:'h:mm MM/dd/yyyy '"></p>
          <a class = "deleteDump" ng-click = "removeLink(dump)"><p>Delete Drop</p></a>
      </div>
    </li>
</ul>
