<div class="header" ng-controller="NavCtrl" ng-init = "collapsed = true;">
  <div class="navbar navbar-default mainNav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button"
        class="navbar-toggle collapsed"
        ng-click = "collapsed = !collapsed">

          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>

        <a class="navbar-brand navText">
            <img class = "navbarIcon"
             src = "images/linkDrops32.gif" />linkDrops.</a>
      </div>

      <div class="collapse navbar-collapse animated fadeInDown"
      id="js-navbar-collapse"
      ng-show = "!collapsed || !isMobile()">

        <ul class="nav navbar-nav">
          <li ng-class="{activeTab:isActive('/')}" ng-hide = "isLoggedIn()"><a class = "navText" href="#/">Home</a></li>
          <li ng-class="{activeTab:isActive('/signup')}" ng-hide = "isLoggedIn()"><a class = "navText" ng-href="#/signup">Sign Up</a></li>
          <li ng-class="{activeTab:isActive('/login')}" ng-hide = "isLoggedIn()"><a class = "navText" ng-href="#/login">Log In</a></li>
          <li ng-class="{activeTab:isActive('/dumps')}" ng-show = "isLoggedIn()"><a class = "navText" ng-href="#/dumps">Dumps</a></li>
          <li ng-class="{activeTab:isActive('/myaccount')}" ng-show = "isLoggedIn()"><a class = "navText" ng-href="#/myaccount">My Account</a></li>
          <li ng-show = "isLoggedIn()"><a class = "navText" ng-click = "logout()" href="#/">Log Out</a></li>
        </ul>
</div>
