//Our loading blinking Keyframe
@keyframes blink {

    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }

    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }

    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */

    100% {
      opacity: .2;
    }
}
