<div class="card center authCard md-whiteframe-15dp">
    <h1 class = "authTitle">Enter Email Address</h1>

    <form>
        <md-input-container class = "authInputContainer">
            <md-icon class="authIcons material-icons prefix">account_circle</md-icon>
            <label>Email</label>
            <input class = "authInput center" type="text" class="validate" ng-model = "forgot.username">
        </md-input-container>
        <br>

        <!-- finish and Sign Up -->
        <br>
        <md-button type="submit" class="authButton md-raised noMargin"
        ng-click = "submitInfo()">Submit</md-button>
    </form>
</div>
