<div class="card center authCard grey lighten-3 z-depth-3">
    <h1 class = "authTitle grey-text text-darken-4">Enter Email Address</h1>

    <form>
        <i class="authIcons material-icons prefix">account_circle</i>
        <input class = "authInput center" placeholder="Email" type="text" class="validate" ng-model = "forgot.username">
        <br>

        <!-- finish and Sign Up -->
        <br>
        <button type="submit" class="authButton waves-effect waves-light btn-large z-depth-2" ng-click = "submitInfo()">Submit</button>
    </form>
</div>
