<div ng-init="getDumps()">
    <!-- add links here -->
    <form class = "card center">
        <br>
        <input class = "center" style = "width: 80%;" type = "text" name = "enterLink" placeholder="Enter a new link here." ng-model="enteredLink" ng-paste = "submitLink()">
        <br>
        <p style = "padding-bottom: 5px" class = "grey-text text-lighten-1 center">If you enjoy typing links by hand, don't forget to press "Enter"</p>
        <button type = "submit" style = "margin-top: 10px; font-weight: 550; display: none" class="waves-effect waves-light btn green darken-3 z-depth-2" ng-click = "submitLink()">Save</button>
        <br>
    </form>

    <!-- ng repeat all of our links -->
    <ul>
        <!-- using track by to avoid a double appearing links bug when scope is updated -->
        <li ng-repeat="dump in dumps | orderBy:'-updated_at':reverse track by dump.updated_at" class = "card center" style="padding: 2%">
            <!-- display youtube video if it is a youtube link -->
            <div ng-show = "dump.content.indexOf('https://www.youtube.com/watch?v=') > -1">
                <iframe width="90%" height="350px" ng-src="{{getYoutubeFrame(dump.content)}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <a href="{{dump.content}}" style="font-size: 2.5vmin;vertical-align: -webkit-baseline-middle;">{{dump.content}}</a>

            <br>
            <!-- Laste updated -->
            <div class = "grey-text text-lighten-1" style = "text-align: right">
                <p style = "display: inline">Dumped at: </p>
                <p style = "display: inline" ng-bind="dump.updated_at | date:'h:mm MM/dd/yyyy '"></p>
            </div>
            <br>
            <!-- add a delete button -->
            <button style = "font-weight: 550" class="waves-effect waves-light btn green darken-3 z-depth-2" ng-click = "removeLink(dump)">
            <i class="material-icons">delete</i>
        </button>
        </li>
    </ul>
</div>
