<div ng-init = "getDumps()">
    <!-- add links here -->
    <form name = "linkForm" class = "card center animated fadeIn">
        <br>
        <input type = "url" name = "linkInput" class = "center linkInput" placeholder="Drop a new link here." ng-model="enteredLink" ng-paste = "submitLink()">
        <br>
        <p class = "grey-text text-lighten-1 center linkInstructions">If you enjoy typing links by hand, don't forget to add " http:// " or " https:// " and press "Enter"</p>

        <!--This button is required for form submission -->
        <button type = "submit" style = "display: none" ng-click="submitLink()"></button>

        <div class = "grey-text text-lighten-1 center" ng-show = "!findInput">
            <button class="waves-effect waves-light btn z-depth-1 findButton"
            ng-click = "showFind()">
            Find...
            </button>
        </div>

        <br ng-show = "!findInput">

        <div  ng-show = "findInput">
            <input id = "findInput" type = "text" class = "center findInput"
            name = "enterFind" placeholder="What are you looking for?"
            ng-model="enteredFind">
        </div>

    </form>

    <!-- ng repeat all of our
    links in a custom pintrest style drective-->
    <grid
    class = "columns animated fadeIn">

    </grid>
</div>
