<ul>
    <li class = "card-panel linkCard md-whiteframe-10dp"
    ng-repeat='dump in dumps | filter:enteredFind | limitTo:displayLinks'>

        <!-- Get our favicon and link title -->
        <div class = "urlContainer">
            <img ng-src="{{::dump.content | favicon}}" alt="Drop Icon" class = "dropFavicon">
            <a id = "linkTitle-{{::$index}}"
            href="{{::dump.content}}" target="_blank"
            class = "dropURL"
            ng-mouseover="dump.hovering = true; embedder.lazyEmbed(dump)"
            ng-mouseleave="dump.hovering = false; embedder.cancelEmbed(dump)"
            ng-init = "getTitle(dump, $index)">
            {{dump.content}}
            </a>
        </div>

      <!-- Firstly, our loading ellipses if we are currently attempting to embed -->
      <!-- With some nice help from https://martinwolf.org/blog/2015/01/pure-css-savingloading-dots-animation -->
      <p class="embedLoad"
      ng-if="!dump.lazyEmbed && dump.embed && dump.hovering">
          Loading<span>.</span><span>.</span><span>.</span>

          <!-- Show an error here if couldn't embed -->
          <div ng-if="dump.embed == 'error' &&
                dump.hovering">
              <br>
              Error, could not embed link (Sorry!)
          </div>
      </p>

      <!-- This need to be only noembed, and another div should be created under for embedly, followed by various native apis -->
      <!-- Use our Fallbacks (NoEmbed And then Embedly), Display Media Embeds (Bandcamp, Youtube, Vimeo, etc... -->
      <div class = "embed"
      ng-if = "dump.embed == embedder.supported[0]"
          id = "embed-{{::dump.content}}">
      </div>

      <!-- Image Files -->
      <div class = "embed"
      ng-if = "dump.embed == embedder.supported[1]">
          <img id = "img-{{::dump.content}}" />
      </div>

      <!-- Soundcloud -->
      <div class = "embed"
      ng-if = "dump.embed == embedder.supported[2]">
          <div class = "noembed-soundcloud">
              <iframe
              id = "scWidget-{{::dump.content}}"
              width = "100%" height = "450"
              frameborder="0" scrolling="no">
              </iframe>
          </div>
      </div>

      <!-- KickStarter -->
      <div class = "embed"
      ng-if = "dump.embed == embedder.supported[3]">
          <iframe
          id = "kick-{{::dump.content}}"
          class = "kickEmbed"
          frameborder="0" scrolling="no">
          </iframe>
      </div>

      <!-- Vine -->
      <div class = "embed"
      ng-if = "dump.embed == embedder.supported[4]">
          <iframe
          id = "vine-{{::dump.content}}"
          class = "vineEmbed"
          frameborder="0" scrolling="no">
          </iframe>
      </div>

      <!-- Spotify -->
      <div class = "embed"
      ng-if = "dump.embed == embedder.supported[5]">
          <iframe
          id = "spotify-{{::dump.content}}"
          class = "spotifyEmbed"
          frameborder="0" scrolling="no">
          </iframe>
      </div>

      <br>
      <!-- Sharing/Categories -->
      <div class = "linkSubTextLeftContainer">
          <p ng-repeat="label in dump.labels"
          class = "linkSubText">
              <img src="images/x.png"
              class="linkLabelDelete"
              ng-click="removeLabel(dump, label)">

              <a class="linkLabelText"
              ng-click="filterLabel(label)">{{label.title}}
              </a>
          </p>
          <br />
          <form>
              <md-input-container class = "labelInputContainer">
                  <label>New Label</label>
                  <input name="newLabel" class = "labelInput" type="text" class="validate" ng-model = "dump.newLabel">
              </md-input-container>
              <button type = "submit" style = "display: none"
              ng-click="submitLabel(dump)">
              </button>
          </form>
      </div>

      <!-- Last updated -->
      <div class = "linkSubTextRightContainer">
          <p class = "linkSubText" ng-bind="dump.updated_at | date:'h:mm MM/dd/yyyy '"></p>
          <a class = "deleteDump" ng-click = "removeLink(dump)"><p>Delete Drop</p></a>
      </div>
    </li>
</ul>
