<div class="card center authCard grey lighten-3 z-depth-3">
    <h1 class = "authTitle grey-text text-darken-4">Log In!</h1>

    <form>
        <i class="authIcons material-icons prefix">account_circle</i>
        <input class = "authInput center" placeholder="Username" type="text" class="validate" ng-model = "login.username">
        <br>
        <i class="authIcons material-icons prefix">vpn_key</i>
        <input class = "authInput center" type = "password" placeholder="Password" type="text" class="validate" ng-model = "login.password">
        <br>


        <!-- finish and Sign Up -->
        <br>
        <button type="submit" class="authButton waves-effect waves-light btn-large z-depth-2" ng-click = "submitInfo()">Log In</button>
    </form>
</div>
