<div class="homeCard card center z-depth-3" ng-init = "autoLogin()">
    <h1>linkDump.</h1>
    <h4 class = "homeTagLine">Because bookmarks and open tabs just aren't enough.</h4>
    <h5 class = "homeLogText">Sign Up or Log In<h5>
    <!-- Login and Sign Up -->
        <a href = "#/signup"><button class="homeSignUp waves-effect waves-light btn-large z-depth-2">Sign Up</button></a>
    <a href = "#/login"><button class="homeLogIn waves-effect waves-light btn-large z-depth-2">Log In</button></a>
</div>

<div class="row marketing center grey-text text-darken-4">
  <h4>What is "linkDump."?</h4>
  <p>
    It's a website that will store all of those links you wanted to go back to, but never could, in an easy to use interface. "linkDump." is perfect for things like youtube videos, articles, and repos!
  </p>

  <h4>Why not just use something like bookmarks?</h4>
  <p>
    One problem we noticed is that when you place interesting links in bookmarks and notes, you never come back to them because you forget about them, or that you're too busy to go back to them. "linkDump." keeps it all in one feed, that allows you to easily visit, store and delete them in an organized feed! So making "linkDump." a daily or weekly task can be easily integrated into your site checkups.
  </p>

  <h4>How much will this cost me?</h4>
  <p>
      "linkDump." is pay your own price. Which means, you can use it completely free if you'd like! And no one will judge you (we promise)! But if you'd like to buy us caffiene to push out more bugs, help us pay some bills around the house, or just give us a small thank you, there is a donation button on your links page, as well as the sign up page. However, for shared link groups, "linkDump." will be a small charge of $2 a month. That way you can keep team resources, and funny videos between your friends all in one retrieveable place!
  </p>

  <h4>Where can I use linkDump?</h4>
  <p>
      As of right now, we currently just support browsers, but we're planning to make android and iOS apps in the future!
  </p>
</div>

<!--
Good faq questions

storage capacity?

platform Supporting

price
-->
