<div style = "padding-bottom: 25px; padding-left: 10px;padding-right: 10px" class="card center grey lighten-3 z-depth-3">
    <h1 class = "grey-text text-darken-4">linkDump.</h1>
    <h4 style = "padding-bottom: 25px" class = "grey-text text-darken-4">Because bookmarks and open tabs just aren't enough.</h4>
    <h5 style = "padding-bottom: 10px" class = "grey-text text-darken-4">Log In or Sign Up<h5>
    <!-- Login and Sign Up -->
    <a href = "#/login"><button style = "margin-right: 10px; font-weight: 600" class="waves-effect waves-light btn-large green darken-3 z-depth-2">Log In</button></a>
    <a href = "#/signup"><button style = "margin-left: 10px; font-weight: 600" class="waves-effect waves-light btn-large green darken-3 z-depth-2">Sign Up</button></a>
</div>

<div class="row marketing center grey-text text-darken-4">
  <h4>What is "linkDump."?</h4>
  <p style = "font-size: 1.75vmin">
    It's a website that will store all of those links you wanted to go back to, but never could, in an easy to use interface. "linkDump." is perfect for things like youtube videos, articles, and repos!
  </p>

  <h4>Why not just use something like bookmarks?</h4>
  <p style = "font-size: 1.75vmin">
    One problem we noticed is that when you place interesting links in bookmarks and notes, you never come back to them because you forget about them, or that you're too busy to go back to them. "linkDump." keeps it all in one feed, that allows you to easily visit, store and delete them in an organized feed! So making "linkDump." a daily or weekly task can be easily integrated into your site checkups.
  </p>

  <h4>How much will this cost me?</h4>
  <p>
      Free! Yes Free! For personal use, anyone can sign up and use "linkDump." However, for shared link groups, "linkDump." will be a small charge of $5 a month. That way you can keep team resources, and funny videos between your friends all in one retrieveable place!
  </p>

  <h4>Where can I use linkDump?</h4>
  <p>
      As of right now, we currently just support browsers, but we're planning to make android and iOS apps in the future!
  </p>
</div>

<!--
Good faq questions

storage capacity?

platform Supporting

price
-->
