<!-- <div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
       <div class="mdl-layout-icon"></div>
    <div class="container">
      <div class="navbar-header">

        <a class="navbar-brand navText"><img class = "navbarIcon" src = "/images/linkDrops32.gif" />linkDrops.</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="NavCtrl">

        <ul class="nav navbar-nav">
          <li ng-class="{activeTab:isActive('/')}" ng-hide = "isLoggedIn()"><a class = "navText" href="#/">Home</a></li>
          <li ng-class="{activeTab:isActive('/signup')}" ng-hide = "isLoggedIn()"><a class = "navText" ng-href="#/signup">Sign Up</a></li>
          <li ng-class="{activeTab:isActive('/login')}" ng-hide = "isLoggedIn()"><a class = "navText" ng-href="#/login">Log In</a></li>
          <li ng-class="{activeTab:isActive('/dumps')}" ng-show = "isLoggedIn()"><a class = "navText" ng-href="#/dumps">Dumps</a></li>
          <li ng-class="{activeTab:isActive('/myaccount')}" ng-show = "isLoggedIn()"><a class = "navText" ng-href="#/myaccount">My Account</a></li>
          <li ng-show = "isLoggedIn()"><a class = "navText" ng-click = "logout()" href="#/">Log Out</a></li>
        </ul>
      </div>
    </div>
</header>
</div> -->

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Material Design Lite</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#">Hello</a>
        <a class="mdl-navigation__link" href="#">World.</a>
        <a class="mdl-navigation__link" href="#">How</a>
        <a class="mdl-navigation__link" href="#">Are</a>
        <a class="mdl-navigation__link" href="#">You?</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
</div>
