<div class="authCard card center">
    <h1 class = "authTitle grey-text text-darken-4">Sign Up!</h1>

    <form ng-submit="submitInfo()">
        <i class="authIcons material-icons prefix">account_circle</i>
        <md-input-container class = "authInputContainer">
            <label>Email</label>
            <input name="username" class = "authInput center"  type="email" class="validate" ng-model = "signup.username" required>
        </md-input-container>

        <br>

        <i class="authIcons material-icons prefix">vpn_key</i>
        <md-input-container class = "authInputContainer">
            <label>Password</label>
            <input name="password" class = "authInput center" type = "password" type="text" class="validate" ng-model = "signup.password" required>
        </md-input-container>

        <br>


        <i class="authIcons material-icons prefix">vpn_key</i>
        <md-input-container class = "authInputContainer">
            <label>Confirm Password</label>
        <input class = "authInput center" type = "password" type="text" class="validate" ng-model = "signup.confirm" required>
        </md-input-container>

        <!-- finish and Sign Up -->
        <br>
        <button type="submit" class=" authButton waves-effect waves-light btn-large z-depth-2">Sign Up</button>
    </form>
</div>
